<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:fragment="header-css">
	<!-- this is header-css -->
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
</head>
<body>
	<div th:fragment="header">
		<!-- this is header -->
		<nav class="navbar navbar-inverse">

			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/admin}">Json Generator</a>
				</div>

				
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>

</body>
</html>